<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shoooooosh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="seller.css">
</head>

<body>
    <!-- Navigation bar -->
    <section>
        <div>
            <br>
            <br>
            <br>
            <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary navbar-dark bg-dark fs-5"
                data-bs-theme="dark">
                <!-- <div class="container"> -->
                <a class="navbar-brand ms-5" href="#"><img src="/Resources/logo_v2.png" width="109px" height="60px"></a>
                <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ">
                        <li class="nav-item text-uppercase underline text-center">
                            <a class="nav-link" aria-current="page" href="index.html">News</a>
                        </li>
                        <li class="nav-item text-uppercase underline text-center">
                            <a class="nav-link" href="#">Brands</a>
                        </li>
                        <li class="nav-item text-uppercase underline text-center">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item text-uppercase underline text-center">
                            <a class="nav-link" href="/view/partners/partners.html">Partners</a>
                        </li>

                    </ul>
                    <ul class="nav-link d-flex my-1 me-0 me-lg-4 justify-content-center">
                        <li class="nav-link naviconhover mx-2"><a href="#"><i class="bi bi-facebook"
                                    style="color:rgb(173, 181, 189)"></i></a>
                        </li class="nav-link naviconhover mx-2">
                        <li class="nav-link naviconhover mx-2"> <a href="#"><i class="bi bi-twitter "
                                    style="color:rgb(173, 181, 189)"></i></i></a></li>
                        <li class="nav-link naviconhover mx-2"><a href="#"><i class="bi bi-instagram "
                                    style="color:rgb(173, 181, 189)"></i></i></i></a></li>
                        <li class="nav-link naviconhover mx-2"><a href="#"><i class="bi bi-youtube "
                                    style="color:rgb(173, 181, 189)"></i></i></a></li>
                        <li class="nav-link naviconhover mx-2"><a href="#"><i class="bi bi-google "
                                    style="color:rgb(173, 181, 189)"></i></i></a></li>
                        <li class="nav-link naviconhover mx-2"><a href="#"><i class="bi bi-github "
                                    style="color:rgb(173, 181, 189)"></i></i></a></li>
                    </ul>

                    <div class="
                    d-lg-inline-flex 
                    text-center 
                    align-items-center
                  my-4 my-lg-0 me-lg-5
                    ">
                        <div class="nav-item mb-4 mb-lg-0 me-lg-2">

                            <a href="/view/login/login.html">
                                <button class="btn btn-outline-secondary btn-md" style="color:rgb(173, 181, 189);"
                                    type="submit">Login</button>
                            </a>

                        </div>
                        <div class="nav-item">

                            <a href="/view/register/register.html">
                                <button class="btn btn-success btn-md" style="color:rgb(173, 181, 189);"
                                    type="submit">Sign
                                    Up</button>
                            </a>

                        </div>
                    </div>

                </div>
                <!-- </div> -->
            </nav>
        </div>
    </section>
    <!-- Navigation bar end -->

    <!-- Seller Page's Start -->
    <div class="container">
        <div class="row my-5">
            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col text-center pb-5 d-flex justify-content-center">
                <div class="card carditem shadow" style="width: 15rem;">
                    <img src="/shoes/adidas30.JPEG" class="object-fit-cover border rounded card-img-tp"
                        style="width: 15em; height: 12em;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">$shoename</h5>
                        <p class="card-text">some text here</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center opacity-75">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>

    
    <!-- Seller Page's End -->

    <!-- Footer's start -->
    <footer class="bg-dark text-center text-light opacity fs-5">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Social media -->
            <section class="mb-4 border-bottom">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"><i
                        class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"
                    role="button"><i class="bi bi-twitter "></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"
                    role="button"><i class="bi bi-youtube"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"
                    role="button"><i class="bi bi-google"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating my-3 mx-2" style="color:rgb(173, 181, 189)" href="#!"
                    role="button"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->



            <!-- Section: Text -->
            <section class="mb-4 shooshcolorstatic">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                    repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                    eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <section class="my-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase shooshcolorstatich">costumer care</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="shooshcolor">Contact us</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">FAQs</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">Terms of service</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase shooshcolorstatich">Help</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="shooshcolor">Seller's guide</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">About us</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor"></a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor"></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase shooshcolorstatich">My account</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="shooshcolor">Sign In</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">Register</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">My shoes</a>
                            </li>
                            <li>
                                <a href="#!" class="shooshcolor">My oders</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 shooshcolorstatic" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-light shooshcolorlink" href="#">shoosh.com</a>
            All Rights Reserved.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer's end -->

    <!-- Bootstrap's Script's Start -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
    <!-- Bootstrap's Script's End -->

    <!-- Password Validation's Start -->
    <script>
        var password = document.getElementById("pwd")
            , confirm_password = document.getElementById("confirm_pwd");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <!-- Password Validation's End -->
</body>

</html>