.naviconhover {
  transition: width 300ms, height 300ms, background-color 300ms, transform 300ms ease !important;
}

.naviconhover:hover {
  transform: scale(1.2) !important;
}

.underline {
  background: linear-gradient(0deg, #adb5bd, #adb5bd) no-repeat center bottom /
    0 var(--bg-h) !important;
  transition: background-size 300ms !important;
  transition-timing-function: ease-out !important;
  padding-bottom: 2px !important;
  --bg-h: 2px !important;
}
.underline:where(:hover, :focus-visible, ) {
  background-size: 80% var(--bg-h) !important;
}

.shooshlogo {
  width: 109px !important;
  height: 60px !important;
}

.profilebtn{
  font-size: 2.5rem;
}