.shooshcolorstatic {
  text-decoration: none !important;
  color: rgb(173, 181, 189) !important;
}

.shooshcolor {
  text-decoration: none !important;
  color: rgb(173, 181, 189) !important;
}

.shooshcolor:hover {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}
.shooshcolorlink {
  text-decoration: none !important;
  color: rgb(173, 181, 189) !important;
}

.shooshcolorlink:hover {
  text-decoration: underline !important;
  color: rgb(255, 255, 255) !important;
}

.footeropacity {
  opacity: 0.9;
}

.copyrightbg {
  background-color: rgba(0, 0, 0, 0.2);
}

.footericonhover {
  transition: width 300ms, height 300ms, background-color 300ms, transform 300ms;
}

.footericonhover:hover {
  transform: scale(1.15);
}

.footerunderline {
  background: linear-gradient(0deg, #adb5bd, #adb5bd) no-repeat center bottom /
    0 var(--bg-h);
  transition: background-size 300ms;
  transition-timing-function: ease-out;
  padding-bottom: 2px;
  --bg-h: 2px;
}
.footerunderline:where(:hover, :focus-visible, ) {
  background-size: 100% var(--bg-h);
}
